* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}
.left {
  order: 2;
}
.right {
  order: 1;
}
.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px 0 #ddd;
  padding: 20px;

  margin: 10px;
}
.bars-card {
  display: flex;
  align-items: flex-end;
  width: 500px;
  height: 400px;
}
.bars {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.bar {
  width: 10px;
  height: 40px;
  background-color: rgba(27, 255, 236, 0.438);
  margin: 1px;
  border-radius: 10px;
}
#selection {
  margin: 40px 20px;
  color: #fff;
  background-color: #3498db;
  border: 0;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 5px;
}
button:focus {
  outline: none;
}
button:active {
  transform: scale(0.9);
}
@media only screen and (max-width: 536px) {
  .card {
    width: 350px;
  }
}
